## Deliverable 2. Create a Customer Travel Destinations Map.

In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [21]:
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [22]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/sfassihi/Documents/Data Analytics Course/Module 6/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Salym,RU,60.0625,71.4789,4.35,96,76,6.98,broken clouds
1,1,Kahama,TZ,-3.8333,32.6000,71.38,63,41,4.47,scattered clouds
2,2,Rikitea,PF,-23.1203,-134.9692,76.60,77,18,14.92,few clouds
3,3,Talnakh,RU,69.4865,88.3972,11.43,95,100,7.83,overcast clouds
4,4,Kodiak,US,57.7900,-152.4072,20.71,63,90,12.66,overcast clouds

In [23]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 90

In [24]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Kahama,TZ,-3.8333,32.6000,71.38,63,41,4.47,scattered clouds
2,2,Rikitea,PF,-23.1203,-134.9692,76.60,77,18,14.92,few clouds
5,5,New Norfolk,AU,-42.7826,147.0587,56.66,63,10,1.99,clear sky
7,7,Mutata,CO,7.2441,-76.4356,78.60,90,100,0.43,overcast clouds
9,9,Mataura,NZ,-46.1927,168.8643,55.99,61,100,2.57,overcast clouds
10,10,Bathsheba,BB,13.2167,-59.5167,81.59,78,80,10.85,broken clouds
11,11,Bandundu,CD,-3.3167,17.3667,72.00,98,100,4.12,light rain
13,13,Puerto Ayora,EC,-0.7393,-90.3518,71.89,70,65,10.98,broken clouds
14,14,Arraial Do Cabo,BR,-22.9661,-42.0278,74.34,82,0,11.27,clear sky
16,16,Georgetown,MY,5.4112,100.3354,76.95,96,40,2.30,scattered clouds

In [25]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                418
City                   418
Country                412
Lat                    418
Lng                    418
Max Temp               418
Humidity               418
Cloudiness             418
Wind Speed             418
Current Description    418
dtype: int64

In [26]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [27]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kahama,TZ,71.38,scattered clouds,-3.8333,32.6000,
2,Rikitea,PF,76.60,few clouds,-23.1203,-134.9692,
5,New Norfolk,AU,56.66,clear sky,-42.7826,147.0587,
7,Mutata,CO,78.60,overcast clouds,7.2441,-76.4356,
9,Mataura,NZ,55.99,overcast clouds,-46.1927,168.8643,
10,Bathsheba,BB,81.59,broken clouds,13.2167,-59.5167,
11,Bandundu,CD,72.00,light rain,-3.3167,17.3667,
13,Puerto Ayora,EC,71.89,broken clouds,-0.7393,-90.3518,
14,Arraial Do Cabo,BR,74.34,clear sky,-22.9661,-42.0278,
16,Georgetown,MY,76.95,scattered clouds,5.4112,100.3354,

In [28]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [29]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [31]:
# 8a. Create the output File (CSV)
output_data_file = "/Users/sfassihi/Documents/Data Analytics Course/Module 6/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [32]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [33]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))